<div class="row">
	<div class="col-xs-12">
		<img
		 [src]="recipe.imagePath"
		 alt="{{ recipe.name }}"
		 class="img-responsive"
		 style="max-height: 300px;"> <!-- Recebe imagem do bind com recipe.component.html -->
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{ recipe.name }}</h1> <!-- Recebe nome do bind com recipe.component.html -->
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group" appDropdown> <!-- appDropdown aplica diretiva  -->
			<button
			 type="button"
			 class="btn btn-primary dropdown-toggle">
			 Gerenciador de Receitas <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Para lista de compras</a></li>
				<li><a href="#">Editar Receita</a></li>
				<li><a href="#">Apagar Receita</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{{ recipe.description }} <!-- Recebe descrição do bind com recipe.component.html -->
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		Ingredientes
	</div>
</div>